<%#= link_to 'Log Out', destroy_user_session_path, method: :delete %>
<!-- <h1 ><span class="badge badge-secondary">Dashboard  </h1> -->
<%#= link_to 'Product', products_path %>
<%#= link_to 'Orders', order1s_path %>

<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="mt-5">Welcome to Ecommerce Application Dashboard</h1>
      <p class="lead">Please select the correct options for Products/Orders</p>
      <ul class="list-unstyled">
        <li><%= link_to 'Product', products_path %></li>
        <li><%= link_to 'Orders', order1s_path %> </li>
      </ul>
    </div>
  </div>
</div>